@model P2_2020ML603_2020VR650.Models.Casos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Casos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_departamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_departamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_genero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.casos_confirmados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.casos_confirmados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.casos_recuperados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.casos_recuperados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fallecidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fallecidos)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_caso">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
