@model IEnumerable<P2_2020ML603_2020VR650.Models.Genero>

@{
    ViewData["Title"] = "Index";
}

<h1>Genero</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crea uno Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_genero">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_genero">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_genero">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
